body {
    background-color: #FFE2B0;
}

header{
    text-align: center;
}

p {
    color: black;
}

h1 {
    color: brown;
    font-size: 15px;
}

ul {
    list-style-type:none; /* маркировка для списка */
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* div{
    margin: 30px 50px 50px 0px; -  Внутренний отступ 
    padding: 20px 40px 0px 0px; - Внешний отступ 
    border: 3px solid black; -   Рамка 
    background-color: green;
    width: 500px;
}   */

/* .test {
    margin: 50px 0px 50px 0;
    width: 500px ;  на строчный элементы не действует свойство ширины 
    display: inline-block;  Можно сделать элемент либо блочным, либо строчным, либо блочно-строчным 
} */

.box-1 {
    background-color: red;
    margin-bottom: 100px;
}

.box-2 {
    background-color: blue;
    margin-top: 40px;
}